#car_veg{
	height: 10%;
	width: 100%;
}


.textlink {
	text-decoration: none;
}	
	

.logo-sm{
	width:40px;
	height: 40px;
	margin: 0.1em;
	margin-right: 10px;
  }
  .logo-lg{
	width:100px;
	height: 100px;
	margin: 1em;
   
  }

  .orangebrdr{
	border-color: #f4511e;
  }