.container
{
	
	border:5px solid blue;
	padding:40px;
	
}

h1 {
  background-color: #FF8C00;
}
h2
{background-color:#1E90FF;
}

div {
  background-color: #d5f4e6;
}



.sort 
{
  display: flex;
}

.product-filter h2
{
  flex-grow: 1;
}
.product-filter 
{
  display: flex;
}
.newarrival
{
background:green;
width:50px;
color:white;
font-size::17px;
font-weight:bold;
}
.cold-md-7 h2
{
color:#555;
}
.stars
{
height:115px;
}
.price
{
color:black;
font-size:26px;
font-weight:italic;
padding-top:10px;
}
input
{
border:1px solid #ccc;
font-weight:bold;
height:33px;
text-align:center;
width:30px;

}
.cart
{
background:$FFF80F;
color:#FFFFFF;
font-size:15px;
margin-left:20px;
}
.checked {
  color: orange;
}